body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;

}

footer{
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    background-color:rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

ul{
    list-style-type: none;
    line-height: 1.5
}

li{
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.little-box{
    width: 150px;
    height: 150px;
    background-color: violet;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
   
}

#main-right-block-top{
    background-color: yellowgreen;
    height: 400px;
    width: 500px;
    margin-top: 20px;

}

#main-right-block-bottom{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#text-righ-block{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

#main{
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    display: flex;
}
#main-left-block{
    height: 100%;
    width: 300px;
    background-color: yellow;
}

#main-right-block{
    height: 100%;
    width: 900px;
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}


#text-blocks{
    font-size:  35px;
}

.little-box:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
li:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}